.btn {
  color: #fff;
  background-color: $color-pink;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  height: 3.5rem;
  font-size: $font-size-copy-heading;
  text-align: center;
  padding-top: .7rem;
}
