/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- Variables  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/

// ----------- Colors --------- //

$color-orange: #FF9A0D;
$color-blue: #A2F2FA;
$color-green: #64fa6e;
$color-pink: #f5767a;

$color-backgound: #f5f5f5;

$color-white-text: #f3f7fb;
$color-text: #2b2b2b;

$color-footer: #2b2b2b;
$color-shadow-large: 0 3rem 6rem rgba(0, 0, 0, 0.16);
$color-shadow-hover: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
$color-shadow-active: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
$color-shadow-active-1: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);

// ----------- Break Points --------- //

$bp-large: 1400px;
$bp-form: 1200px;
$bp-medium: 900px;
$bp-small: 800px;
$bp-xsmall: 650px;
$bp-fold: 400px;