.form {
  height: 900px;
  display: flex;
  justify-content: center;

  &__text {
    justify-content: center;
    width: 50%;
    margin-top: 20rem;
    text-align: center;
    &-header {
      width: 60%;
      margin: 0 auto 6rem auto;
    }
    &-p {
      width: 60%;
      margin: 0 auto 6rem auto;
    }
    &-btn {
      width: 60%;
      margin: auto;
    }
  }
  &__video {
    margin: auto;
    padding: 3rem;
    &-play {
      margin-top: 3rem;
    }
  }
}
