/* -------- Items --------- */
/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- Variables  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- Typography  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5.8rem;
  font-weight: 400;
  color: #FF9A0D;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  color: #f5767a;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  color: #2b2b2b;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 5rem;
  color: #f3f7fb;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: #f3f7fb;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  color: #2b2b2b;
}

.btn {
  color: #fff;
  background-color: #f5767a;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  height: 3.5rem;
  font-size: 2.4rem;
  text-align: center;
  padding-top: 0.7rem;
}

svg {
  margin: 0px auto;
  display: block;
}

/* This animates the circle when it switches to play */
#circle {
  transition: stroke-dashoffset 300ms ease-in;
  stroke-dashoffset: 0;
  fill: none;
}

#circle.play {
  stroke-dashoffset: 314;
}

.width {
  max-width: 1366px;
  margin: 0 auto 0 auto;
}

.margin {
  margin-bottom: 3rem;
}

/* ------- Sections -------- */
/* //////////////////////////////////////////////////////////////////////////////// 
-------------------------------- HTML CSS Settings  ---------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: #f5f5f5;
}

.nav-bar {
  height: 5rem;
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  align-items: center;
}
.nav-bar a {
  text-decoration: none;
  color: #f5767a;
}
.nav-bar__logo {
  margin-left: 0.3rem;
}
.nav-bar__links {
  margin-left: 10rem;
  text-transform: uppercase;
}
.nav-bar__mail {
  color: #f5767a;
  margin-right: 0.5rem;
}
.nav-bar__links {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav-bar__links-el {
  margin-left: 2rem;
}

.hero {
  height: 850px;
  background-image: url(../images/jpg/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: 5rem;
  display: flex;
  justify-content: space-between;
}
.hero__info {
  margin-top: 10rem;
  margin-right: -20rem;
  width: 40%;
}
.hero__info-heading {
  font-weight: 400;
}
.hero__info-btn {
  width: 70%;
  margin-top: 9rem;
}
.hero__logo {
  display: grid;
  grid-template-rows: 3;
  width: 70%;
}
.hero__logo-btn {
  margin-top: -28%;
  padding-left: 28%;
  width: 100%;
  text-transform: uppercase;
  margin-left: auto;
  display: flex;
}
.hero__logo-btn-cook {
  margin-top: -2.1rem;
}
.hero__logo-btn-van {
  margin-top: -0.8rem;
}
.hero__logo-btn-inactive {
  height: 6rem;
  width: 16rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero__logo-btn-inactive img {
  margin-bottom: 1rem;
}
.hero__logo-btn-inactive span {
  font-size: 1.6rem;
}

.form {
  height: 900px;
  display: flex;
  justify-content: center;
}
.form__text {
  justify-content: center;
  width: 50%;
  margin-top: 20rem;
  text-align: center;
}
.form__text-header {
  width: 60%;
  margin: 0 auto 6rem auto;
}
.form__text-p {
  width: 60%;
  margin: 0 auto 6rem auto;
}
.form__text-btn {
  width: 60%;
  margin: auto;
}
.form__video {
  margin: auto;
  padding: 3rem;
}
.form__video-play {
  margin-top: 3rem;
}

.what-we-do {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.what-we-do img {
  width: 20%;
}
.what-we-do__heading {
  text-align: center;
  text-transform: uppercase;
}
.what-we-do__imgs {
  display: flex;
  margin-left: 10%;
}
.what-we-do__boxes {
  display: flex;
  margin-left: 10%;
}

/*# sourceMappingURL=style.css.map */
